<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>

	<style type="text/css">

		body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          background-color: #ffffcc;
        }

        input[type=text]{
            width: 20%;
            padding: 12px 20px;
            margin-top: -5%;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 2%;

        }

        input[type=submit] 
        {
            width: 12%;
            background-color: black;
            color: white;
            padding: 12px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: -1%;
            margin-left: 2%;
        }

        input[type=submit]:hover {
         background-color: MediumSeaGreen;
    }

        .btn {
            width: 19%;
            background-color: black;
            color: white;
            padding: 12px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 2%;
            margin-left: 82.3%;

        }

        .btn:hover {
         background-color: MediumSeaGreen;
    }

        .form_bg {
                background-color: #ccff66;
                background-position: center;
                color:#666;
                padding:30px;
                border-radius:10px;
                position: absolute;
                border:1px solid #fff;
                margin: auto;
                margin-top: 50px;
                margin-left: 40%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 250px;
                height: 10px;
        }

        .form_display {
                background-color: #ccff66;
                background-position: left;
                color:#666;
                padding:30px;
                border-radius:10px;
                position: absolute;
                border:1px solid #fff;
                margin: auto;
                margin-top: 23%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0px;
                width: 92%;
                height: 2.5%;
        }
		
	</style>

</head>
<body>

	<center>
            <!--Cart Headinng-->
        <div class="form_bg" >
            <p style="margin-left: 8px; font-family: Impact; font-size: 25px; margin-top:-5%; color: black ">
                Booking Details
            </p>
        </div>
    </center>

    <div class="form_display">

            <form action="#" method="post">

                    <tr>

                         <td>
                            <input type="text" name="name" placeholder="Name">
                        </td>

                        <td>
                            <input type="text" name="email" placeholder="Email">
                        </td>

                        <td>
                            <input type="text" name="email" placeholder="Handymen">
                        </td>

                        <td>
                            <input type="submit" value="Confirm">
                        </td>

                        <td>
                            <input type="submit" value="Cancel">
                        </td>

                    </tr>

            </form>
    </div>


</body>
</html>>